[2017-02-28 11:56] rcketscientist opened #10 "root required?"
How is this being done without `ACTION_OPEN_DOCUMENT_TREE` and `UriPermission`?  Is root required?

[2017-02-28 13:31] codekidX commented on #10
Hey @rcketscientist, this library solely revolves around `java.io.File` class and the functionalities are built on top of the methods it provides.

`ACTION_OPEN_DOCUMENT_TREE` and `UriPermission` are not required at all since there is no need to display various DocumentsProvider instances available on user's end.

Root is not required (and do not intend to add support) for this library but you can

[2017-02-28 14:07] rcketscientist commented on #10
According to Google you would be blocked from writing to a folder in 5.0+ (technically 4.4, but 4.4 is broken) unless you acquire a UriPermission via ACTION_OPEN_DOCUMENT_TREE.  So how can you make use of a selected folder?

[2017-02-28 14:15] rcketscientist commented on #10
Oh, nevermind.  I see that setting an external destination does not actually work in openGapps.  You should probably disallow that on 4.4+.

[2017-02-28 15:29] creativetrendsapps opened #11 "Usage in a fragment?"
Is there a way to get this to work in a fragment? I'm experiencing crashes because of this error:

'android.support.v4.app.FragmentTransaction android.support.v4.app.FragmentManager.beginTransaction()'

any help would be great.

[2017-02-28 15:43] creativetrendsapps commented on #11
Here is my code, I moved my Settings fragment to my Settings Activity and I'm still experiencing the crash.

case "storage_location":
                    if (hasSD) {
                        String storage = "/storage/";
                        StorageChooser chooser = new StorageChooser.Builder()
                                .withActivity(getActivity())
                                .withFra

[2017-02-28 15:52] creativetrendsapps commented on #11
Ah, I figured it out. I was making my fragment null, lol.

[2017-02-28 15:56] #11 closed

[2017-03-01 02:26] rahulpopuri opened #12 "How do I enable folder creation?"
I'm following the readme to build a directory chooser, but I seem to be missing the "+" from the screenshots to create folders - how do I enable that ?

                .withActivity(this.getActivity())
                .withFragmentManager(this.getFragmentManager())
                .withMemoryBar(true)
                .allowCustomPath(true)
                .setType(StorageChooser.DIRECTORY_CHOOSER

[2017-03-01 05:28] codekidX commented on #12
You just have to add `.allowAddFolder(true)` to your builder. A detailed documentation of all other methods will be available today I'll link it to this issue tracker for your reference. 😄

[2017-03-01 05:32] rahulpopuri commented on #12
Thank you! It took me literally 5 mins to add this directory chooser to my app. Great work

[2017-03-01 05:32] #12 closed

[2017-03-01 06:53] codekidX commented on #12
[Javadoc](https://jitpack.io/com/github/codekidX/storage-chooser/21c545f/javadoc/) for your reference.

[2017-03-01 14:32] creativetrendsapps opened #13 "Theming the dialog?"
For some reason the dialog is not following my apps theme. Is there a special way to theme the dialog?
<img src="https://cloud.githubusercontent.com/assets/14278089/23464152/eb5db5b8-fe61-11e6-9f0e-7a5406cc77f2.png" width="22%" height=""> <img src="https://cloud.githubusercontent.com/assets/14278089/23464156/eef34800-fe61-11e6-8f03-dc9632c24d57.png" width="22%" height="">

[2017-03-01 15:05] codekidX commented on #13
Make sure that your `colorPrimary` color is overriding the library's color. May be you have colorPrimary set for only `values-v21/colors.xml` not `values/colors.xml`, used by the dialog [here](https://github.com/codekidX/storage-chooser/blob/master/storagechooser/src/main/res/values/colors.xml#L3-L4)

[2017-03-02 02:37] codekidX commented on #10
@rcketscientist the crash was not due to `Uripermission` and all, it was due to animatable and I fixed it [here](https://github.com/codekidX/storage-chooser/commit/648e3905028f9886da809f5cc80274df5198c6d9) . I tested it in genymotion and all works fine now. What I cannot test was setting path from external sdcard. Can you give it a try using the new `1.0.31` release ?

[2017-03-02 08:25] rcketscientist commented on #10
I'm not experiencing a crash.  I was simply curious if you somehow found a non-root way around SAF.  There's currently a bug in LineageOS when writing to external SD, so I can't test for a few days, but it won't work.  4.2 was the last OS that could write to external via `File`.

[2017-03-10 05:46] skyhacker2 opened #16 "There is a while header in 5.0"
![s70310-13463026](https://cloud.githubusercontent.com/assets/1547841/23783622/e056bbdc-0597-11e7-8c44-d7c26e869112.jpg)

[2017-03-10 11:41] xuzc opened #17 "Why only support v4 Fragment?"
Why only support v4 Fragment? 😥

[2017-03-10 15:31] codekidX commented on #16
Interesting, do you get same dialog with this white header in different devices as well ?

[2017-03-10 16:38] Kolyall opened #18 "add .withThreshold(int size, String suffix)"
What's mean error on log?
[code]

[2017-03-10 16:38] Kolyall commented on #18
How to use it?

[2017-03-10 17:11] codekidX commented on #18
That was a tiny bug which is fixed here - [commit](https://github.com/codekidX/storage-chooser/commit/c38c19f7a0b177b940e69db6f3a8063b5cfb0e3d)

but if you want to know what it does - [commit description](https://github.com/codekidX/storage-chooser/commit/d97c52b915a43fd1220fa1c9036688011c7c32fd)

[2017-03-10 17:14] codekidX commented on #17
The dialog is inflated with `android.support.v4.app.DialogFragment` so fragment manager of support library is needed. What does your parent activity extend ?

[2017-03-10 17:16] Kolyall commented on #18
Thx, I found the issue, please update readme to new ver for compile))

[2017-03-10 17:16] #18 closed

[2017-03-10 17:25] Kolyall opened #19 "List blinks after opening a storage"
See the video
https://www.dropbox.com/s/4ts52h6maixfasg/mobizen_20170310_202223.mp4?dl=1

Code in Fragment:
[code]

[2017-03-10 17:29] Kolyall commented on #19
List blinks after opening a storage

[2017-03-10 17:35] codekidX commented on #19
Can you tell me which android version and what device you are using. That list glitch should not happen.

[2017-03-10 17:41] Kolyall commented on #19
Samsung Galaxy S5 Android 6.0.1

[2017-03-10 20:11] TheAndroidMaster commented on #16
I have it as well. It's just the title bar (but without a title in it). Will remove it in the next PR.

[2017-03-10 22:12] TheAndroidMaster commented on #16
Should be fixed in #20 :)

[2017-03-11 03:14] skyhacker2 commented on #16
@TheAndroidMaster Nice work

[2017-03-11 04:56] codekidX opened #21 "Use one fragment for DirectoryChooser and FilePicker"
`FilePickerFragment` and `CustomChooserFragment` has 80% overlap of duplicate methods and code. More unified and efficient code is required until the final release on 1/4/2017 (not April Fooling y'all)

[2017-03-12 03:19] #16 closed

[2017-03-13 01:28] fennifith opened #23 "Backport New Folder Icon Animation to API 16 (and below...)"
Vector Animations are only useful if you're actually changing the shape of the vector drawable's path (such as a morph animation or a visibility strike). Using a regular drawable animation could fix this, or we could be super lazy and rotate the ImageView 45 degrees programatically instead ;)

[2017-03-13 01:31] fennifith opened #24 "Reduce minSdkVersion to API 9"
This will probably require some slightly more significant changes to how the library works instead of just modifying the layout files. When tested on 10, I got a NullPonterException at ChooserDialogFragment.populateList(ChooserDialogFragment.java:261). This could be for a few different reasons, but I'll look at it more closely later this week.

[2017-03-14 07:33] Kolyall opened #25 "How to set file extension for Type(StorageChooser.FILE_PICKER)?"
How to set file extension for Type(StorageChooser.FILE_PICKER)?
For example I want to select only *.mp3 files, how to do it?

[2017-03-14 08:09] codekidX commented on #25
@Kolyall Currently there is no filtering of files implemented in this library, but it's under development and will be added in the upcoming release. 😄 I'm marking this as an enhancement to make sure I finish this as quickly as possible.

[2017-03-14 08:13] Kolyall commented on #25
@codekidX thanks, your lib is awesome

[2017-03-14 08:16] codekidX commented on #23
Haha I thought of the same thing just a while ago, I think I'll add it as enhancement and to the TO-DO list now, although it's not much work. Also I would prefer animating from resource rather than drawable animation, keeps the library light.

[2017-03-14 08:24] codekidX commented on #24
Hmm ... my be the file hierarchy was different at that time. Like,` storage/emulated` was actually `sdcard0` or somewhat similar bug. 🤔 I'll have to dig through some Genymotion with sdk 10.

[2017-03-14 10:03] NeoSyder opened #26 "Padding chooser heading"
When I translate the chooser heading with the static class, there is no padding. It's on this textView R.id. dialog_title in this layout R.layout.storage_list.

The translate sentence is "Choisissez l\'emplacement de stockage" if you want to test

[2017-03-14 10:10] codekidX commented on #26
Ya, there is no padding or margin thanks for pointing it out. I'll add padding in some time 😄

[2017-03-19 20:48] kulvinder18may opened #27 "Not able to select subfolders"
I'm able to see single dialog where internal memory or external memory option showing. when i clicked on anyone, dialog dismiss.
i tried with chossertype filepicker as well as directory picker

[2017-03-19 20:51] codekidX commented on #27
@kulvinder18may did you also add `.allowCustomPath(true)` to the builder ?

[2017-03-19 20:53] kulvinder18may commented on #27
yes also tried with true as well as with false...but not working

[2017-03-19 22:07] codekidX commented on #27
- can you share only the snippet of the storage-chooser code ?
- also can you share which version of the library you are using ?
- did you try running the demo app ?

[2017-03-20 05:03] kulvinder18may commented on #27
ohh,
yes i checked demo working perfect
it was my implementation mistake, storage permission related

Thanks @codekidX  for your valuable time

[2017-03-20 05:03] #27 closed

[2017-03-22 15:19] #26 closed

[2017-03-23 05:20] codekidX commented on #13
Closing the issue until next encounter of the issue.

[2017-03-23 05:20] #13 closed

[2017-03-23 07:30] codekidX commented on #21
Doney done - https://github.com/codekidX/storage-chooser/commit/4f53256ba9adbf5e545f7d29d11e446e3f035da6

[2017-03-23 07:30] #21 closed

[2017-04-06 16:58] Kolyall opened #28 "Add posibility to choose more than one file"
Add a list with checkbox to choose more than one file from storage. Thanks
![screenshot24](https://cloud.githubusercontent.com/assets/3495165/24766274/ff6eedfa-1afa-11e7-8060-8152098a15c7.png)

[2017-04-13 10:14] serkandaglioglu opened #29 "Gradle : Failed to resolve"
I added below to app level gradle and it throws error after sync gradle.

`compile 'com.github.codekidX:storage-chooser:1.0.33'`

Error:(71, 13) Failed to resolve: com.github.codekidX:storage-chooser:1.0.33

[2017-04-13 10:16] #29 closed

[2017-04-15 04:39] codekidX commented on #28
Thanks for the suggestion. I'll add this in 2.1 release. Currently running low on time 😄

[2017-04-18 01:52] ryust opened #30 "Issue: android.view.InflateException: Binary XML file line #17: Error inflating class TextView"
When including the storage-chooser library in my app, Google Play gives the following error during its pre-launch test on various devices. The Samsung S6 on Android 5.1 produces the following stack trace:

FATAL EXCEPTION: main
 Process: com.mobiltal.geoohLive, PID: 24193
 android.view.InflateException: Binary XML file line #17: Error inflating class TextView
 	at android.view.LayoutInflater.creat

[2017-04-19 12:42] boomsya opened #31 "1.0.33 -> 1.0.34"
please update dependency in readme to 1.0.34:

com.github.codekidX:storage-chooser:1.0.33

[2017-04-20 14:34] boomsya opened #32 "not all config optoins applied"
file: ChooserDialogFragment.java need changes:

[code]

[2017-04-22 05:22] codekidX commented on #31
Done ty 👍  [e55355a](https://github.com/codekidX/storage-chooser/commit/e55355acaa22654711c182eadde0abaaa9cac76c)

[2017-04-22 05:22] #31 closed

[2017-04-22 07:09] codekidX commented on #30
Thanks for reporting. You can add `com.github.codekidX:storage-chooser:d4e9d6e ` inside your app:build.gradle until 1.0.35 is released 😄

[2017-04-22 07:09] #30 closed

[2017-05-01 07:26] codekidX commented on #32
Hello, can you tell me which configs are not applied? I re-checked it but couldn't find any issues 😃

[2017-05-04 07:25] #19 closed

[2017-05-04 20:46] sgimp commented on #25
yea it would be nice to have that feature. :)

[2017-05-11 15:09] boomsya commented on #32
private void populateList() {...

YOUR CODE:
// just add the internal storage and avoid adding emulated henceforth
        storages.setStorageTitle(mContent.getInternalStorageText());

MY CODE:
// just add the internal storage and avoid adding emulated henceforth
		if (mConfig.getInternalStorageText() != null) {
			storages.setStorageTitle(mConfig.getInternalStorageText());
		} else {
			storages.

[2017-05-15 22:10] caneroglu opened #33 "MPL 2.0 notice"
I want to use this library on my commercial android app.
Where to put noticement in my application for legal use?

[2017-05-16 06:37] codekidX commented on #33
Hi, you can just mention about this library under "Open-source Licenses" _(or similar section where you mention all other used libraries)_ section inside Settings of your app.
    Also it'll be great if you share your app link too so that I can showcase it in this repository.

[2017-05-17 11:37] boomsya commented on #32
and source (SecondaryChooserFragment) have hard-coded constants:

public static String LABEL_SELECT = "Select";
public static String LABEL_CREATE = "Create";
......
// set label of buttons [localization]
mSelectButton.setText(StorageChooserView.LABEL_SELECT);
mCreateButton.setText(StorageChooserView.LABEL_CREATE);

[2017-05-17 17:26] codekidX commented on #32
Hi, I think you are viewing older source of the library. It's already moved to Content class. You might want to look at these 3 commits.
[74fe865](https://github.com/codekidX/storage-chooser/commit/74fe865ba205b53f95de64b7624ae84e4f85ae6f)
[5d37c0d](https://github.com/codekidX/storage-chooser/commit/5d37c0dba5d7dc73715ac76162e4addfedfb3763)
[253c36c](uhttps://github.com/codekidX/storage-chooser/co

[2017-05-17 17:37] ryust commented on #32
That made a mess of things. Do you have a migration guide for removing StorageChooserView?

[2017-05-17 17:45] codekidX commented on #32
Hi @ryust, these changes are not public _(in any release)_ yet and if you are using a snapshot or with the latest commit hash you just need to make an instance of Content and set your label and localizing strings and then pass that content instance to the builder. As shown here - https://github.com/codekidX/storage-chooser/commit/253c36c1041cf7a0e5e41068bdc09058a30c95b6.

[2017-05-17 17:47] ryust commented on #32
I tried changing StorageChooserView to Content, but none of the methods match up. What is the replacement for StorageChooserView?

[2017-05-19 08:00] boomsya commented on #32
super. Thanks.
maybe i will send for you my version of component in ZIP for include in this project?
i have added some good features

[2017-05-19 11:01] #33 closed

[2017-05-20 02:48] mveroukis commented on #17
I'm trying to get this to run on a PreferenceActivity based activity, which does not extend FragmentActivity. From what I can tell, that means I can't use this,

[2017-05-20 10:38] codekidX commented on #17
Hi @mveroukis , I'm aware of this drawback presented by using FragmentManager from support library, I'm working on re-routing the dialog through a dummy Activity extending AppCompatActivity. It seems to be the only way. :disappointed:

[2017-05-20 10:43] codekidX commented on #32
@boomsya will you be able to fork this repository and add your changes to that repository? It'll be better for me to sort out without conflicts.

@ryust all the methods are ported from StorageChooserView to Content, with some of the method name changed you can compare
this - https://github.com/codekidX/storage-chooser/wiki/Localizing-your-Chooser &
this - https://github.com/codekidX/storage-choose

[2017-05-20 10:43] #32 closed

[2017-05-20 12:30] #17 closed

[2017-05-23 12:52] sweaf opened #34 "Possibility to change textColor"
Hi,
I am using Theme.AppCompat in my app and the StorageChooser Dialog has white text on white background. I did not find any way to change the text color. Is this possible and if not, it would be a great enhancement.

[2017-05-23 22:15] codekidX commented on #34
Hi, color of the text is hardcoded right now so I'll extract a color resource in upcoming commits and also provide a method to change color using the [Content](https://github.com/codekidX/storage-chooser/blob/master/storagechooser/src/main/java/com/codekidlabs/storagechooser/Content.java) class.

Thanks for reporting.

[2017-05-25 10:39] #34 closed

[2017-05-29 06:38] nalsil opened #35 "Can I get the cancel event listener?"
I want to handle the cancel event to work when the storage-chooser is shut down.

[2017-06-02 09:44] #35 closed

[2017-06-03 18:11] artyomn opened #36 "Image thumbnails"
I think it would be a good improvement to add an option to show image files' thumbnails instead of type icon.

[2017-06-06 17:46] Kolyall commented on #28
@codekidX did you do something for 2.1?

[2017-06-13 10:23] Trumeet opened #37 "White screen and stuck in ColorOS"
In the OPPO phone ColorOS above can not click, the dialog box white screen, stuck, can only be forced to stop.
(This is my user feedback, I do not have ColorOS)
![Screenshot](https://ooo.0o0.ooo/2017/06/13/593fbc3104c7b.png)
Hope you try to fix it, thanks

[2017-06-13 18:48] codekidX commented on #37
Hey, can you get me an error log ? It's hard to debug with so less information.

[2017-06-15 03:47] mveroukis opened #38 "IndexOutOfBoundsException exception thrown"
While testing it out in my app, I navigated to an internal storage folder, created a new folder and then attempted to navigate to that folder. At that moment it throws IndexOutOfBoundsException.

`06-14 22:39:08.242 3521-3521/com.blitterhead.ampwifi E/AndroidRuntime: FATAL EXCEPTION: main
                                                                       Process: com.blitterhead.ampwifi, PID:

[2017-06-18 08:56] codekidX commented on #38
Hi, Can you tell me

1. what folder name have you added
2. does it occur everyt ime you create a folder

I just checked myself following same steps as you but no fc for me.

[2017-06-20 20:11] mveroukis commented on #38
I don't know what to say. I did the above on the emulator and it did that consistently. I would create a new folder under internal storage, under Downloads (named the folder "Test"). Once the folder was created I'd select it and it would crash.

I just now tried it on a real device (Nexus 5X) and it worked fine. I restarted my emulator and it too now works. Strange. I'll play with it some more, bu

[2017-06-23 02:51] mveroukis opened #39 "While creating a new folder, you can enter line feeds while entering a folder name"
![image](https://user-images.githubusercontent.com/7936453/27464552-ba094ed8-5793-11e7-816b-984cf64daece.png)

As the screenshot above demonstrates, while entering a folder name in the create box, you can enter multiple line feeds. Hitting the create button results in an error, which I guess is ok, but the user should not be allowed to enter a line feed.

This can be done easily on the soft keyboa

[2017-06-23 03:25] mveroukis opened #40 "Files may appear when choosing folders"
Under certain conditions, file names appears even though the type is set to StorageChooser.DIRECTORY_CHOOSER. Steps to repro:

1. Open the Storage Chooser with the type set to DIRECTORY_CHOOSER
1. Navigate to a folder where you know other files exist (you won't see them yet)
1. Create a new folder, any name
1. Once the folder is created, you see all the files in that folder.

See the linked video:

[2017-06-26 10:22] codekidX commented on #39
Yes, I missed to add singleLine attribute 😞  I'll fix it asap. Thanks for reporting this issue.

[2017-06-26 10:24] codekidX commented on #40
Yeah it seems `trimPopulate()` also needs to check conditions like DIRECTORY_CHOOSER. I'll fix this in upcoming commit. Thanks for pointing this out !

[2017-06-26 21:23] KrawczykPawel opened #41 "Add possibility to change filePath text color"
Hi,
I have yellow "colorPrimary" and the white text color on the filePath is hard to read. I would like to change it to black. Is this possible and if not, it would be a great enhancement.

[2017-07-04 00:42] jackkum commented on #29
I have a same trouble.
@serkandaglioglu Do you resolve it?

[2017-07-11 10:15] #40 closed

[2017-07-11 10:20] #39 closed

[2017-07-11 10:33] codekidX commented on #41
Hi, it's a nice idea. I have added support to even tint the back and plus button in the address bar. The same color of the address text will apply to these buttons.

[2017-07-11 10:34] #41 closed

[2017-07-11 11:02] codekidX commented on #36
Hi, it's a nice idea but don't you think it will be heavy on the library side?

Because the main motive is to choose directory/file as quick as possible and if we even use some lazy-loading image libraries like Glide it'll still cause some lag on low-end devices _(I think)_. Do let me know what you think about this.

[2017-07-11 11:05] codekidX commented on #28
Hi @Kolyall , currently bouncing back and forth with jobs, I haven't got much time to code this library. This weekend I'll post a barebone version of multiple file selection I'll post here as soon as it's done. Thanks for waiting.

[2017-07-12 07:17] artyomn commented on #36
I think some lag may be, but it shouldn't be essential. As of my experience with Glide it is very well optimized (I've done a GridView with about 300 images loaded with Glide - and it scrolls absolutely smoothly (even if you scroll fast) on 3 years old Nexus 5).
Probably it may be done configurable - some option to show thumbnails or just icons.
I've thought about this idea (image thumbnails) beca

[2017-07-15 05:02] codekidX commented on #29
@jackkum It's mostly because you didn't add this - `maven { url "https://jitpack.io" }` to your root build.gradle in repositories.

[2017-07-15 09:52] serkandaglioglu commented on #29
@codekidX my problem was same.

[2017-07-15 16:37] jackkum commented on #29
@codekidX @serkandaglioglu
Yes, that is the solution of my problem.
Thanks a lot!

[2017-07-19 09:58] codekidX commented on #28
c83228a640bf60e8e8c333aa1056d0965ad2c6bb

Added support to choose multiple files. Let me know if any bug pops up.

[2017-07-19 10:08] #28 closed

[2017-07-21 05:07] codekidX commented on #36
True, I'll try to include Glide in the project and implement the thumbnails asap. Thanks for your view on this feature.

[2017-07-21 08:31] Trumeet commented on #37
Sorry for a long time did not reply to you.
I wrote a Demo issued to the ColorOS users, it did not even have this problem!
I suspect that the version of my other project may be too low. Thank you for waiting, temporarily closed it.
🤣

[2017-07-21 08:31] #37 closed

[2017-07-21 11:21] codekidX commented on #25
#42

[2017-07-26 19:21] filol opened #43 "Fatal Exception: java.lang.IllegalArgumentException: Invalid path: /storage/container"
One of my users causes this error when I use your library :

Link : http://crashes.to/s/50412a88afe

`Fatal Exception: java.lang.IllegalArgumentException: Invalid path: /storage/container
       at android.os.StatFs.doStat(StatFs.java:46)
       at android.os.StatFs.(StatFs.java)
       at com.codekidlabs.storagechooser.utils.MemoryUtil.getTotalMemorySize(MemoryUtil.java:71)
       at com.codekidl

[2017-07-27 06:01] codekidX commented on #43
Thanks for reporting. I have added a read access check on storage click.

[2017-07-27 06:08] #25 closed

[2017-07-28 13:15] ryust opened #44 "Use mime types for filters"
It would be more flexible to have an API to allow input of a list of mime types for the filter instead of the predefined ones. For example, I just want to filter for '*.txt' files, but with the current implementation that is not possible.

[2017-07-28 14:37] codekidX commented on #44
@ryust Idk if its coincidence, I was just adding this enhancement. 😁

[2017-07-28 15:12] codekidX commented on #44
Here's the [implementation](https://github.com/codekidX/storage-chooser/blob/master/app/src/main/java/com/codekidlabs/storagechooserdemo/MainActivity.java#L157-L160)

Thanks !

[2017-07-28 15:12] #44 closed

[2017-07-29 06:20] codekidX commented on #44
Did you add dependency with latest commit hash ?
`com.github.codekidX:storage-chooser: baaf31b `

[2017-07-29 12:44] ryust commented on #44
No, had no idea what artifact should be used nor specifically the API to use.

[2017-07-29 12:45] ryust commented on #44
Plus, I was looking for a mime type implementation, not just a file extension.

[2017-07-29 14:47] filol commented on #43
Hey ! My user got the same issue after i upgrade your library to 2.0. This issue isn't fixed ! You can check the stacktrace with the same link

[2017-08-01 00:21] mikecoppola16 commented on #38
Same issue here on Genymotion after selecting a file in downloads folder

`   java.lang.NullPointerException: Attempt to invoke interface method 'void com.codekidlabs.storagechooser.StorageChooser$OnSelectListener.onSelect(java.lang.String)' on a null object reference
                                                                               at com.codekidlabs.storagechooser.fragments.Secondar

[2017-08-01 04:46] codekidX opened #45 "selecting a file in /emulated/0/download folder"
Same issue **_when just trying to select a file_**  on Genymotion AND My LG V20 actual device  after selecting a file in /emulated/0/download folder

`   java.lang.NullPointerException: Attempt to invoke interface method 'void com.codekidlabs.storagechooser.StorageChooser$OnSelectListener.onSelect(java.lang.String)' on a null object reference

[2017-08-01 04:47] codekidX commented on #45
@mikecoppola16 your issue is moved here since it had no link with the issue you created before.

Can you tell me which version of library you are using ?

[2017-08-02 23:19] Lennoard opened #46 "Is it possible to make .withFragmentManager() accept the supportFragmentManager?"
I'm trying to call StorageChooser from a fragment.
If the fragment Class extends **android.support.v4.app.Fragment**, getFragmentManager() will of course return **android.support.v4.app.FragmentManager** and therefore _.withFragmentManager(getFragmentManager())_ will not let me do that as it currently only accepts android.app.FragmentManager as parameter.

Is there another way to do it?

PS. I mad

[2017-08-02 23:36] codekidX commented on #46
Hello, the reason why this library removed support for _**android.support.v4.app.FragmentManager**_ in [b52a9fd](https://github.com/codekidX/storage-chooser/commit/b52a9fd1d220266430b1fb262262402d8f951909) is that **_android.app.FragmentManager_** is accessible throughout the app lifecyle.

In your implementation you need to pass `getActivity().getFragmentManager()` as parameter to it.

[2017-08-04 08:51] #46 closed

[2017-08-04 09:56] filol opened #47 "Issue 43"
I still have the bug of the number #43

[2017-08-05 05:54] codekidX commented on #47
@filol don't create new issues without any stacktrace just to point out another/previous issue. I'll reopen the previous issue.

[2017-08-05 05:54] #47 closed

[2017-08-05 06:01] codekidX commented on #43
Are you in contact with the user? Let me know if `/storage/container` is an external storage or read-only system storage that he's trying to access it all the time.

I can't write an exception for this path until I know about this.

[2017-08-05 15:10] filol commented on #43
Yes i'm contact with the user.
It looks like a system folder where has link to a system folder but apparently it is empty. My user deleted it but it needed root rights to do so. This has solved this problem but since it crashes with another errors: http://crashes.to/s/5b548bbaf56
I have tested it personally, it works very well for android 5+ but not for android 4.4. Is your libraries compatible wi

[2017-08-07 14:52] madyvand opened #48 "Hello world"

[2017-08-08 04:22] codekidX commented on #48
The world will Hello you back if stop saying in github issues..

[2017-08-08 04:22] #48 closed

[2017-08-08 08:53] madyvand commented on #48
Bubbles are magnificent!! Think of how brilliantly they selfishly enhance
the light , carelessly drifting on the breeze , squeezing every moment of
that one breath out of life.

On 8 Aug 2017 13:52, "Ashish Shekar" <notifications@github.com> wrote:

[2017-08-10 09:31] #43 closed

[2017-08-10 09:38] codekidX commented on #44
Hi @ryust , I won't be able to add mime-type filter to this library due to time issues but you can submit a pull request.

[2017-08-12 12:18] Lennoard opened #49 "Issue: android.view.InflateException: Error inflating class at.markushi.ui.CircleButton"
[Running on API 19 _MiUI v8_]
It happens right after the user chooses a storage.

FATAL EXCEPTION: main
**android.view.InflateException: Binary XML file line #150: Error inflating class at.markushi.ui.CircleButton**
at android.view.LayoutInflater.createView(LayoutInflater.java:623)
at android.view.LayoutInflater.createViewFromTag(LayoutInflater.java:699)
at android.view.LayoutInflater.rInflate(Lay

[2017-08-13 11:45] filol opened #50 "java.lang.IllegalArgumentException Caused by: libcore.io.ErrnoException"
`**java.lang.IllegalArgumentException**:
  at android.os.StatFs.doStat (StatFs.java:46)
  at android.os.StatFs.<init> (StatFs.java:39)
  at com.codekidlabs.storagechooser.utils.MemoryUtil.getTotalMemorySize (MemoryUtil.java:71)
  at com.codekidlabs.storagechooser.fragments.ChooserDialogFragment.populateList (ChooserDialogFragment.java:252)
  at com.codekidlabs.storagechooser.fragments.ChooserDialo

[2017-08-13 11:54] filol commented on #49
I have the same issue

[2017-08-14 13:43] #49 closed

[2017-08-14 13:49] codekidX commented on #50
It's regular statFs exception when it could't read the size of the storage it won't crash your app. It's just spitting out that it couldn't read the size.

If I did catch this exception, returning 0 will only make dialog look buggy.

[2017-08-17 11:55] anonym24 opened #51 "Error:(152, 26) No resource found that matches the given name (at 'src' with value '@drawable/ic_check_white_24dp')."
`Error:(152, 26) No resource found that matches the given name (at 'src' with value '@drawable/ic_check_white_24dp').`

![screenshot_2](https://user-images.githubusercontent.com/8851301/29411107-1f5df678-835c-11e7-88f1-db6b888521fd.png)

[2017-08-17 12:08] anonym24 commented on #51
I removed it

Now when I run

[code]

It only shows

![test](https://user-images.githubusercontent.com/8851301/29411517-d713c10c-835d-11e7-9752-f6f88770613d.png)

So I can't choose any folder

[2017-08-17 12:26] anonym24 commented on #51
Understood, had to create storage two times:

[code]

[2017-08-17 12:36] codekidX commented on #51
As you can see [here](https://github.com/codekidX/storage-chooser#list-of-configuration-for-storagechooserbuilder-including-20)

you need `allowCustomPath(true)` to be included. No need to create 2 times.

Also
`com.github.codekidX:storage-chooser: 2e7fb50 `

should resolve drawable issue.

[2017-08-17 15:40] #51 closed

[2017-08-22 17:00] jagan999 opened #53 "Does this work on external SD card?"
I'm currently using SAF using Intent OPEN_CONTENT to get writeable uri permissions on an external SD card before I can write files to it. Will this library help me avoid writing a lot of code to use writeable uri permissions? Would appreciate a quick reply.

[2017-08-23 06:41] codekidX commented on #53
It is planned, but not supported yet. I myself need it.

[2017-08-25 19:54] filol commented on #50
Ok but some of my users are getting this error which causes a crash of my app. I have a proposal for you: if the user encounters this error then you should not display this storage (or display the name but do not allow browsing in). Is this achievable?

[2017-08-26 06:35] codekidX commented on #50
@filol Ok thanks for notifying me that it crashes the app, I often test the demo app and this exception occurs but does not cause any crash to demo app.

I'll change the algorithm to not show memory available if this exception is caught.

[2017-08-27 11:54] anisart commented on #49
Please update library with this fix

[2017-08-27 15:56] codekidX commented on #49
`com.github.codekidX:storage-chooser:2.0.2` pushed.

[2017-09-01 04:39] mveroukis opened #54 "OnCancelListener is never triggered when cancelling from overview"
I enable the overview so that the user can select different storage areas. However, if they tap the back button to cancel the onCancel() callback is never triggered. It works fine once they select their storage area and see the list of folders and THEN hit the back button to cancel. I think the onCancel() should be triggered from the overview as well.

Also, as a bonus, I'd suggest adding the opti

[2017-09-01 14:12] thatisazam opened #55 "KitKat crash"
KitKat devices (4.4.2 & 4.4.4) are crashing.
Version used: 2.0.2

       at android.view.LayoutInflater.createView(LayoutInflater.java:620)
       at android.view.LayoutInflater.createViewFromTag(LayoutInflater.java:696)
       at android.view.LayoutInflater.rInflate(LayoutInflater.java:755)
       at android.view.LayoutInflater.rInflate(LayoutInflater.java:758)
       at android.view.LayoutInflat

[2017-09-02 06:00] codekidX commented on #55
Update to `com.github.codekidX:storage-chooser:2.0.2`

[2017-09-02 06:00] #55 closed

[2017-09-11 09:25] nestoleh opened #56 "java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState"
The error happened when I rotate device with open dialog "Choose storage" and pick any storage.
Chooser configuration
`new StorageChooser.Builder()
                    .withActivity(this)
                    .withFragmentManager(getFragmentManager())
                    .withMemoryBar(true)
                    .allowCustomPath(true)
                    .setType(StorageChooser.FILE_PICKER)

[2017-09-11 09:41] nestoleh commented on #56
This error also happening in demo application

[2017-10-08 07:20] #54 closed

[2017-10-08 07:46] codekidX commented on #56
Hi, nice catch !! Add this changes to your calling Activity.

Regards.

[2017-10-08 07:46] #56 closed

[2017-10-25 11:52] MustafaMirzaie opened #57 "Change font face"
how can I change the setTypeFace of text?

[2017-10-25 15:58] codekidX commented on #57
Hi, the textviews are not exposed yet. I'll follow up on this enhancement as soon as possible.

[2017-10-26 12:48] codekidX commented on #57
#58

[2017-10-26 12:51] #57 closed

[2017-10-29 13:22] MustafaMirzaie commented on #57
thank you very much
but buttons not have type face.

[2017-10-30 04:51] codekidX commented on #57
Ah ! Yes, I'll set the heading typeface as the button typeface in the upcoming commit. Thanks for reminding me.

[2017-11-16 07:11] NileshEvonix opened #59 "AndroidRuntime: FATAL EXCEPTION:"
Its throws exception after i select internal / external storage in my Samsung SM-G360H
Android version 4.4.4 please fix this ASAP

FATAL EXCEPTION: main

                                                                 android.view.InflateException: Binary XML file line #85: Error inflating class <unknown>
                                                                     at android.view.LayoutI

[2017-12-14 10:22] kg6zvp opened #60 "Support for Instant Run"
Great library, but would you consider adding support for Instant Run?

I'm unable to use your library when Instant Run is enabled and receive an error message like "Immutable jar com.codeKidx..... found" on attempted launch.

I can provide more detail if you need it. Thanks so much.

[2017-12-21 05:04] codekidX commented on #60
I think I have disabled instant run because of some issue during development, I'll enable it for production 👍

[2017-12-23 08:54] #59 closed

[2018-01-01 16:43] XJIOP opened #61 "ErrnoException: statvfs failed: ENOENT (No such file or directory)"
Used only to Select Storage

**Logs from Crashlytics**
[code]

[2018-01-17 07:25] tatiya4 opened #62 "The Storage you have chosen is not accessible. Message shown..."
1 One of My Mobile Phone of Internal Storage shown in the dialog when i click on that the Message shows  The Storage you have chosen is not accessible.My phone configuration is

DEVICE
Device YUNICORN (YUNICORN) Manufacturer YU Device type Phone Device language English CPU make Mediatek CPU model MT6755M Native platform armeabi-v7a, armeabi, arm64-v8a RAM (MB) 4096 Screen size 1080 × 1920 Screen d

[2018-01-21 13:21] codekidX commented on #62
Hi,

1. The error is shown when library cannot access device storage size (ie. not readable). Make sure that storage is readable by other file explorers, if yes then, drop a comment here again.

2. The USB OTG is a feature I want to add but cannot find a good way to integrate it with the library. Since this type of storage is dynamic and can be connected at one time and can be removed at anytime,

[2018-01-23 12:33] XJIOP opened #63 "java.lang.RuntimeException: Unable to start activity"
crashes if open dialog and lost activity

[code]

[2018-01-29 07:08] shelake-chetan opened #64 "App crashes by no view found exception"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.atlasso/droidninja.filepicker.FilePickerActivity}: java.lang.IllegalArgumentException: No view found for id 0x7f100125 (com.atlasso:id/container) for fragment MediaPickerFragment{37d7bfb #0 id=0x7f100125 MediaPickerFragment}
                                                               at android.app.ActivityThread.performLaun

[2018-01-29 22:25] loredan opened #65 "App crash when opening on emulator API 19"
[code]

That happens when I open chooser like this:

[code]

My guess is it has something to do with `custom_storage_list.xml`, which contains this `ListView`

[code]

`ripple.xml` is in `drawable-v21` folder and contains `<ripple>` tag, which appeared in API 21. I'm going to try and fix it myself now

[2018-01-29 23:00] loredan commented on #65
Oh. Had not noticed that it's already been fixed in master. Closing

[2018-01-29 23:00] #65 closed

[2018-01-30 03:00] codekidX commented on #64
This is fixed but not released to production. Change your build.gradle compile dependency to

`compile 'com.github.codekidX:storage-chooser:e12de59'`

[2018-01-30 03:00] #64 closed

[2018-01-31 08:46] PaulChege opened #66 "Extend filter to specify exact file extension e.g ".pdf""
Is it possible to extend the type filter so that one can filter by a specific file extension. e.g ".pdf" ?

[2018-02-03 15:30] johrpan opened #67 "Allow disabling and/or translation of the memory status string"
In the storage overview list, there is a small label in the bottom right corner of each item indicating how much space is available. This should be translatable using the `Content` class. Additionally there may be situations where that information is not needed, e.g. when choosing a directory just for accessing files. Because of that it should be possible to hide that label.

[2018-02-03 17:44] codekidX commented on #66
See this - [MainActivityL157-L160](https://github.com/codekidX/storage-chooser/blob/e12de59c174e7c87dfee786991bb8436213cdf73/app/src/main/java/com/codekidlabs/storagechooserdemo/MainActivity.java#L157-L160)

[2018-02-03 17:44] #66 closed

[2018-02-03 18:07] codekidX commented on #63
Can you explain the `lost activity` part. Are you clearing from recents or when getting an error on the activity it crashes?

[2018-02-04 00:00] 1stmetro opened #71 "directory picker, contents ?"
How do you enable to see folder contents when you are using select folder, the user cant see the contents to know they have the correct folder?

Simple switch?

[2018-02-04 15:14] XJIOP commented on #63
on low memory device open dialog then click task and back to app activity has destroyed, and you get this error.

[2018-02-10 17:45] SAFatemi commented on #59
Salam.
I'm using version 2.0.3 and this exception already exists!!!

[2018-02-12 22:15] mikedg1 opened #72 "Why not allow custom file filters?"
Seems silly to need request an issue for each new filter type or are the docs just misleading or out of date?

Thanks

[2018-02-13 03:32] codekidX commented on #72
#66

[2018-02-13 03:32] #72 closed

[2018-02-13 03:35] codekidX commented on #71
Seems fair to know contents of the directory before selecting, will add it in the upcoming release.

[2018-02-14 20:44] arpitnnd opened #73 "Request for .zip file type filter support"
I am working on a project which requires choosing of .zip files. Please, can you add a .zip file type filter?

[2018-02-15 01:53] codekidX commented on #73
An option for adding custom file filters has been added on version **2.0.3**. I didn't update the README with that feature yet, now I did.

Look at this issue #66 where I have mentioned the line numbers for implementation.

[2018-02-15 01:53] #73 closed

[2018-02-15 02:32] mikedg1 commented on #62
I'm getting this on an Android 4.1.2 emulator.

[2018-02-15 10:48] mikedg1 opened #74 "android.content.res.Resources$NotFoundException: Resource is not a Drawable (color or path): TypedValue{t=0x1/d=0x7f0800a0 a=-1 r=0x7f0800a0}"
I get a crash with the following stack trace  after choosing the root dir to start, when using the pickers on an API Level 19 emulator.

using 2.0.3
com.github.codekidX:storage-chooser:2.0.3

        StorageChooser chooser = new StorageChooser.Builder()
                .withActivity(activity)
                .withFragmentManager(activity.getFragmentManager())
                .allowCustomPath(true)

[2018-02-15 21:14] mikedg1 commented on #74
This appears to be related to the ripple.xml, from drawables-v21. The ripple tag is not available on devices < 21 but no alternative XML file is given for lower API levels. One solution is to place a basic color ripple.xml selector in drawable.

[2018-02-16 03:13] codekidX commented on #74
I already fixed it, can you compile and use this hash version `com.github.codekidX:storage-chooser:541f3aa` until I draft an official 2.0.4 release.

Thank you, let me know if it works after compiling the above version.

[2018-02-16 03:17] codekidX commented on #67
a1c8028

[2018-02-16 03:17] #67 closed

[2018-02-24 13:26] isabsent opened #75 "Question: Is it possible to pickup folder as a path?"
I need to select and pickup the selected folder path. Is it possible with your library?

[2018-02-24 16:34] codekidX commented on #75
That's what this library is for. Here is a quick snippet for your use case

[code]

[2018-02-24 16:34] #75 closed

[2018-02-27 10:09] zoularry opened #76 "press title back button will cause FC if "shouldResumeSession" set to true."
Step to reproduce:
1, select a sdcard path (secondary storage, not internal storage).
2, go into a folder, and press back button on top left of toolbar.
3, crash and got following errors.

NOTE: no crash issue, if go into internal storage OR shouldResumeSession set to false.
-------------------
 E/AndroidRuntime: FATAL EXCEPTION: main

[2018-03-05 14:04] ryust opened #77 "Hide SD storage"
Since we cannot use this library to create folder directories on external SD storage, how about a way to prevent even showing the SD card so the user is not confused trying to create a folder there?

[2018-03-15 04:09] brarcher opened #79 "StringIndexOutOfBoundsException hit in SecondaryChooserFragment.java"
Using release v2.0.3 I'm seeing a StringIndexOutOfBoundsException exception in a bug report on Google Play for the [Video Transcoder](https://github.com/brarcher/video-transcoder) application. Logs are not available, only the backtrace:

[code]

The dialog is being created with the [following](https://github.com/brarcher/video-transcoder/blob/e5473b9b0682c16935fb7f869c3a9c5de856aa9a/app/src/main/j

[2018-03-17 12:43] ryust commented on #79
I get a similar error on a Samsung with Android 7:

Fatal Exception: java.lang.StringIndexOutOfBoundsException: length=18; index=-1
       at java.lang.String.substring(String.java:1926)
       at com.codekidlabs.storagechooser.fragments.SecondaryChooserFragment.populateList(SecondaryChooserFragment.java:617)
       at com.codekidlabs.storagechooser.fragments.SecondaryChooserFragment.performBackAc

[2018-03-18 10:06] pzienowicz commented on #74
Hi @codekidX,

When are you going to release 2.0.4?

[2018-03-18 10:43] codekidX commented on #79
Hi @brarcher you got the root of the problem right. But the main issue is that `theSelectedPath` can never be empty since at the start of the SecondaryChooser `mBundlePath` is set as `theSelectedPath` and also the ending point of SecondaryChooser. I need to reproduce this issue perfectly for a path which makes it empty and find out the issue until then this check will avoid the error.

Thanks for

[2018-03-18 10:43] #79 closed

[2018-03-18 10:45] codekidX commented on #74
Hi @pzienowicz , the release will be today !

[2018-03-18 10:45] #74 closed

[2018-03-18 10:47] codekidX commented on #76
Hi, this is same as #79 . Would you mind sharing the path in which it crashed ?

 A workaround is applied and will be released in 2.0.4.

[2018-03-18 13:43] brarcher opened #80 "Custom filter performance"
I've attempted to use the custom filter mechanism using v2.0.3. From reading the description of the feature:

my understanding is that the dialog will scan the entire storage folder for matching files, then when complete will display a dialog that only shows files and non-empty folders. The use case for this sounds appealing, however in practice I've seen issues. Namely, the delay in scanning the

[2018-03-28 02:08] brarcher opened #81 "NullPointerException in SecondaryChooserFragment.getLayout()"
I'm seeing the following crash in a report from my application on Google Play when using v2.0.3:

[code]

There were two devices affected, both Android 8 or 8.1. The line hitting the failure is [here](https://github.com/codekidX/storage-chooser/blob/c086e22ae68c039f361606d7d55549af73d5cdb4/storagechooser/src/main/java/com/codekidlabs/storagechooser/fragments/SecondaryChooserFragment.java#L317):

[

[2018-04-01 04:45] brarcher commented on #38
Although perhaps not much of a datapoint, I am seeing that on the Video Transcoder application a user from Google Play hit this failure on v2.0.3 here:
[code]
Nothing else is know about the circumstance of the failure, so sorry no more details can be shared.

[2018-04-02 18:57] pzienowicz commented on #74
And where is that release?

[2018-04-17 19:04] pzienowicz commented on #24
The same issue, when trying on Android 4.1.1.
If I want to show chooser with overview - I see:
` java.lang.NullPointerException
                                                     at com.codekidlabs.storagechooser.fragments.ChooserDialogFragment.populateList(ChooserDialogFragment.java:260)
                                                     at com.codekidlabs.storagechooser.fragments.ChooserDial

[2018-05-07 23:58] leomindez commented on #81
@brarcher Use the 2.0.2 version of the library. I had the same error and I only changed the version.

[2018-05-08 04:48] wiztensai opened #82 "MemoryNotAccessibleException in Kitkat, ASUS Zenfone 6"
`05-08 11:33:35.072 10468-10468/com.pasarwarga.microsite W/System.err: com.codekidlabs.storagechooser.exceptions.MemoryNotAccessibleException: Cannot compute memory for /storage/USBdisk1
        at com.codekidlabs.storagechooser.adapters.StorageChooserListAdapter.getPercentile(StorageChooserListAdapter.java:161)
        at com.codekidlabs.storagechooser.adapters.StorageChooserListAdapter.getView(S

[2018-05-17 09:22] shohoku6 opened #83 "OTG Permission"
how to read an OTG from the library ? because the option of otg has pop up, but system said that the directory is not accessible

[2018-05-26 12:18] segler-alex commented on #74
I need that too. Did you manage to fix it?

[2018-05-31 16:13] akaisun opened #84 "create layout still stay"
edittext box and create button still stayed after new folder created. i thought its invisible on layout but when i clicked space where edittext area. then it worked.

[2018-06-26 15:32] codekidX commented on #80
Hi, sorry for this so late reply. A possible workaround is to offload this computation from the main thread and show a async loading in the view this will not cause an ANR. This is being developed in the `dev` branch currently and will be available in the next release.

Once again thanks for this detailed report.

[2018-07-08 05:50] codekidX commented on #80
Added async loading of files in the above commit, thanks for the support !

![2018_07_08_11_16_57](https://user-images.githubusercontent.com/3619949/42417183-bcbb4e9a-82a0-11e8-9ff9-27de418471f0.gif)

[2018-07-08 05:50] #80 closed

[2018-07-08 14:43] brarcher commented on #80
I took a look at the changes. Thanks!

[2018-07-10 09:32] TNPro85 opened #86 "Memory leak"
I just tried to include your project in my app. It's running well, very good library.
But LeakCanary detected some leaking issue.
I attached a screenshot for your checking.
![photo_2018-07-10_16-30-24](https://user-images.githubusercontent.com/11494752/42501736-9304ade8-845e-11e8-8d9c-79cf25f7de49.jpg)

I guess using public static dialog might not always a good option.
Please take a look. Looking

[2018-07-30 13:05] hippott opened #87 "List<String> in official example should be ArrayList<String>"
In the [Filtering Files by Extension](https://ashishshekar.com/projects/sc/#filtering-files-by-extension) example, you have used `List<String>`:

[code]
After many attempts to figure out why my code was failing, I got some help from a good friend who pointed out that `List<String>` should be `ArrayList<String>`.

You should also change `exts` to `videExtensions`.

Please correct this and help othe

[2018-07-30 13:39] AbdelrahmanElghoul opened #88 "internal/external storage and other files !?"
![screenshot_2018-07-30-15-34-41](https://user-images.githubusercontent.com/31250793/43400680-a479058c-940e-11e8-9c59-1563303de4cd.png)

how to hide other files than internal /external stoarge ?

[2018-07-30 15:37] #87 closed

[2018-07-30 16:00] codekidX commented on #86
Thanks for this, I made sure Context/Activity/Resource does not leak while writing, Dialog does use Context and will most probably leak it. I'll find a way to make it work without statically accessing it. Any and all suggestions are welcome.

[2018-07-30 16:06] codekidX commented on #84
Thanks a lot for reporting, the layout was hidden instead of inflating. Will fix it in the upcoming release.

[2018-08-01 16:42] hippott opened #89 ".skipOverview(true) disables navigation through previous folders"
When trying to navigate back to previous folder using the back arrow in the bar at the top while `.skipOverview(true)` is defined, the file manager will simply close. However, removing `.skipOverview(true)` solves the issue and it is possible to navigate through previous folders again.

![image](https://user-images.githubusercontent.com/34172598/43535538-97c0a86a-95ba-11e8-98aa-3e8bdf30250e.png)

[2018-08-03 16:57] hippott commented on #89
I found a solution to this. I simply needed to add `if (mConfig.getPrimaryPath() == null)` and the rest of the code inside `else` for `if (!mConfig.isSkipOverview())` in [SecondaryChooserFragment.java](https://github.com/codekidX/storage-chooser/blob/dev/storagechooser/src/main/java/com/codekidlabs/storagechooser/fragments/SecondaryChooserFragment.java) (`private void performBackAction()`):

[code

[2018-08-03 17:25] hippott opened #90 "UniversalFileFilter (ArrayList/List)"
After [Accept a List instead of ArrayList for flexibility (fix #87)](https://github.com/codekidX/storage-chooser/commit/65c7fc5c48c2f55bdfb5bb5b62cf7ef27ea23c77), there is an issue with `UniversalFileFilter(mConfig.isCustomFilter(), mConfig.getCustomEnum())` in [SecondaryChooserFragment.java](https://github.com/codekidX/storage-chooser/blob/dev/storagechooser/src/main/java/com/codekidlabs/storagec

[2018-08-03 17:59] codekidX commented on #90
Thanks for pointing it out. Forgot to commit and push !

[2018-08-03 17:59] #90 closed

[2018-08-05 16:47] hippott commented on #89
@codekidX? 😅

[2018-08-20 19:27] sorous opened #91 "getter for fragmentManager is deprecated"
Thanks for your beautiful storage chooser. Just wanted to say getter for fragmentManager is deprecated in API level 28. Handle it!

[2018-08-23 06:10] codekidX commented on #91
Thanks for the heads-up ! Will have to think of a way to make use of both the fragmentManager for API 14 and below as well.

[2018-08-23 06:12] codekidX commented on #83
OTG is still under active development, the nature of OTG being ejected at runtime needs specific handling which is still under research. If you have any experience with OTG support do share. Thank you!

[2018-08-24 02:10] hotsxu opened #92 "Error inflating class android.support.design.widget.FloatingActionButton"
Binary XML file line #155: Error inflating class android.support.design.widget.FloatingActionButton

[2018-08-24 02:28] hotsxu commented on #92
your layout has no FloatingActionButton....

[2018-08-24 11:36] pzienowicz commented on #92
Wow, what it is doing in v21/custom_storage_list.xml?

[code]

and the top of the file:
[code]

[2018-08-25 09:06] codekidX commented on #92
Hi, sorry there was a merge conflict which was resolved incorrectly.

Use `implementation 'com.github.codekidX:storage-chooser:2.0.4.3'`

[2018-08-25 09:06] #92 closed

[2018-09-01 17:28] Depau opened #93 "Nothink shown with customFilter and no files of that type"
When `customFilter` is set and no files of that type are available on the device, an empty list is shown.
This may be confusing for some users, who might just think the selector is simply not working.

Is it possible to add a "No files of specified type were found" message?

[2018-09-03 20:33] 1stmetro opened #94 "private CircleButton mMultipleOnSelectButton;"

[2018-09-06 06:29] #94 closed

[2018-09-25 09:51] puyaars opened #95 "image file preview"
it would be much better if it shows a preview of image file instead of image icon

[2018-10-09 03:09] KYHSGeekCode opened #96 "WithPredefinedPath not working"
[code]

Any clues?

[2018-11-02 09:50] makazemi opened #97 "The strorate you have choosen is not accessible!"
I add your library to my project but when i pressed Internal or 3ADC_0B0E storage, show the "The strorate you have choosen is not accessible!" message.

[2018-11-02 12:58] KYHSGeekCode opened #98 "Root file chooser"
How about supporting root files on rooted devices?

(Supporting `/` directories too)

(https://github.com/KYHSGeekCode/Android-Disassembler/issues/32)

Thank you.

[2018-11-04 13:32] codekidX commented on #98
Hi, this feature is already under development for 3.0 in `dev-3.0` branch and will be released by 1st December.

Thanks for the suggestion, if you have any other suggestion please feel free to open an issue here.

[2018-11-10 19:43] 1stmetro opened #99 "com.codekidlabs.storagechooser.utils.ResourceUtil"
Cant import this release, i get the following error,

error: cannot find symbol class ResourceUtil

Also this fault also,

MemoryUtil.java:
uses or overrides a deprecated API.
Recompile with -Xlint:deprecation for details.

[2018-11-10 19:50] codekidX commented on #99
Hello, can I know which version you are using ?

The last stable version is 2.0.4.3.

[2018-11-10 20:16] 1stmetro commented on #99
I was trying the latest release, the older one i had no issues with it.

[2018-11-10 20:18] 1stmetro commented on #99
Also did some modifications on the older release to hide some drives that i didnt need, might be useful if you would me to post the code if i have to reuse in the later release of the code ?

[2018-11-12 08:34] codekidX commented on #99
Hi, I just tried the `2.0.4.3` release it didn't give me this error. Can you tell what all are being used by your project in `build.gradle`

Also if the drives are not used by user, it'll be really helpful if you send me a pull request on `dev` branch. The `dev-3.0` uses a very different structure.

[2018-11-13 22:59] 1stmetro commented on #99
My build.gradle is packed so hard to say why i have the error, maybe easier if i know what version of gradle you are using

With regards to the code i have added, im trying to locate the code,

Basically i have added an exclusion which will probably make sense when you see it, basically i have excluded "enc_emulated" from showing as a drive, in theory you could add an array of names not to show us

[2018-11-14 01:18] NicodeLee commented on #99
i get the following error.
`xecution failed for task ':app:processDebugResources'.

  Output:  C:\Users\Administrator\.gradle\caches\transforms-1\files-1.1\storage-chooser-2.0.4.3.aar\db8ea8fbbbbe618bf1de7b07864c99e0\res\layout\custom_storage_list.xml:156: error: attribute cb_color (aka com.nicodelee.mdxhelp:cb_color) not found.
  C:\Users\Administrator\.gradle\caches\transforms-1\files-1.1\storag

[2018-11-20 22:51] paulasiimwe commented on #99
[code]

[2018-12-08 12:06] KYHSGeekCode commented on #98
Trying not to impose any burden, well, when does the 3.0 come out?

[2019-01-10 13:42] KYHSGeekCode commented on #98
Hello?! I made it myself: https://github.com/KYHSGeekCode/RootFilePicker , and it is used by  https://github.com/KYHSGeekCode/Android-Disassembler

[2019-01-14 14:35] s1mar opened #101 "Crash-- Caused by: android.content.res.Resources$NotFoundException: Drawable com.package.name:drawable/drawable_plus_to_close with resource ID #0x7f080083 Caused by: android.content.res.Resources$NotFoundException: File res/drawable-v21/drawable_plus_to_close.xml from drawable resource ID #0x7f080083"
`19-02-21 17:34:40.597 21826-21826/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.package.name, PID: 21826
    android.view.InflateException: Binary XML file line #50: Binary XML file line #2: Error inflating class <unknown>
    Caused by: android.view.InflateException: Binary XML file line #2: Error inflating class <unknown>
    Caused by: java.lang.reflect.InvocationTargetException

[2019-01-20 16:07] #101 closed

[2019-01-26 11:23] NelzkieCoder opened #102 "Attempt to get length of null array"
Having a problem here.
When ever I show the filechooser I kept having this error

`Attempt to get length of null array`

What have I done wrong?

[2019-02-16 18:39] penghaitao opened #103 "How to choose folder in SD card?"
Is this library support SD card? Why I can't choose SD card path? Thanks.

[2019-02-17 17:16] codekidX commented on #103
Hello, it does support choosing from external SD card, can you specify which version of the library and what device are you trying from.

Thanks.

[2019-02-24 23:41] KYHSGeekCode opened #104 "StringIndexOutOfBoundsException at com.codekidlabs.storagechooser.fragments.SecondaryChooserFragment.populateList(SecondaryChooserFragment.java:623)"
https://github.com/KYHSGeekCode/Android-Disassembler/issues/47

Well, it is said that StringIndexOutOfBoundsException is occuring from your code.

My code is [here](https://github.com/KYHSGeekCode/Android-Disassembler/blob/master/app/src/main/java/com/kyhsgeekcode/disassembler/MainActivity.java) like this.

    private void showFileChooser()
	{
		requestAppPermissions(this);
		//SharedPreferences

[2019-02-25 17:52] codekidX commented on #104
Hi, thanks for letting me know. I have got this weird bug sometimes but I couldn't spot the error as the next time it would work. The dev-3.0 branch is now rewritten in Kotlin and has a fresh codebase so I hope this won't come in the next release as well.

I'm not closing this issue until 3.0.

[2019-02-25 17:54] codekidX commented on #102
Hi, @NelzkieCoder sorry for the late reply, can you just show me your storage-chooser part of the code so that I can come to know what might be the problem. Thanks.

[2019-03-20 17:53] codekidX opened #105 "v3.0 decisions - what to expect - suggestions welcomed"
Hello,

It has been around 4 months since the development and I would want to thank all the developers and stargazers to help me support and motivate me in making this library the best.

For **3.0** I had made a decision to develop the project with the latest frameworks and work around with activities instead of dialogs and it has turned out to be rather a long road towards releasing the version w

[2019-03-22 03:44] TejrajJadhav commented on #105
It is very nice Sir.
Always waiting for your new releases.
Always awesome.

On Wed 20 Mar, 2019, 11:23 PM Ashish Shekar, <notifications@github.com>
wrote:

[2019-03-24 12:25] artyomefimov opened #106 "Incorrect behaviour while rotating the screen"
When I rotate a screen while choosing a storage, I get an incorrect folder path. In logs I get an empty string.
![Before](https://user-images.githubusercontent.com/28651523/54879340-26b19300-4e51-11e9-8e4c-dbbc45c04e55.png)
![After](https://user-images.githubusercontent.com/28651523/54879342-33ce8200-4e51-11e9-9260-2ad0125f5986.png)

[2019-03-25 06:28] codekidX commented on #106
I'll fix this in the upcoming version, 2.5.
Thanks for letting me know.

[2019-03-25 06:35] artyomefimov commented on #106
@codekidX, good day! Can you please let me know in this issue when 2.5 will be released? Thanks in advance.

[2019-03-25 14:41] codekidX commented on #106
@artyomefimov please let me know the following things:

1. the version of the library you are using
2. how to replicate this issue again and again

I currently tested on my device with the latest version `2.0.4.3` and there seems to be no issue while rotating _(there used to be an issue in 1.0 but it was fixed)_.

[2019-03-25 15:07] artyomefimov commented on #106
@codekidX,

1. I use 2.0.4.2 version.
2. I tested this issue on Android emulators (API 22 and 28) and real device (API 24).
Steps to reproduce are the following:

- Run chooser. Figure 1 from my first comment (the displayed path is /storage/sdcard or /storage/emulated/0, all existing folders are displayed)
- Rotate the screen. Figure 2 from my first comment (the displayed path is /sdcard/storage/s

[2019-03-25 15:18] artyomefimov commented on #106
With the 2.0.4.3 version I got this problem:
[code]

[2019-03-25 15:22] codekidX commented on #106
@artyomefimov I have just released `2.0.4.4` with some merge related fixes.

Do let me know if this issue persists in this version.

[2019-03-25 15:26] codekidX commented on #99
Please change the version to `2.0.4.4`. This was caused due to a bad merge.

[2019-03-25 15:26] #99 closed

[2019-03-25 15:29] codekidX commented on #45
closing this issue due to inactivity. Please reopen this issue whenever you have time to revert. Thanks for the issue.

[2019-03-25 15:29] #45 closed

[2019-03-25 16:10] artyomefimov commented on #106
@codekidX with the `2.0.4.4` I get
`
Manifest merger failed : Attribute application@appComponentFactory value=(android.support.v4.app.CoreComponentFactory) from [com.android.support:support-compat:28.0.0] AndroidManifest.xml:22:18-91 is also present at [androidx.core:core:1.0.0-beta01] AndroidManifest.xml:22:18-86 value=(androidx.core.app.CoreComponentFactory).
`
In the `2.0.4.2` there were no pro

[2019-03-25 16:21] codekidX commented on #106
@artyomefimov Add two lines in gradle.properties file:

`android.useAndroidX=true`
`android.enableJetifier=true`

Please confirm if this issue resolves, so that I can update it in README

[2019-03-25 17:01] artyomefimov commented on #106
@codekidX now I have no problems with building my app. Thanks for help.
But the initial problem is still exists.

[2019-03-25 17:17] codekidX commented on #106
@artyomefimov I see that you are working on the sound recorder app?

add `android:configChanges="orientation|screenSize"`

this helps the library to store changes during orientation and your issue should be fixed.

[2019-03-25 17:30] artyomefimov commented on #106
@codekidX it works! Thanks for your help, I close the issue.

[2019-03-25 17:30] #106 closed

[2019-04-21 02:10] sdkcarlos commented on #62
Just a comment passing by. In my case, this exception appears as well when you don't ask for runtime permission dinamically on Android 6+.

So as mentioned in the `README.MD` of this library:

- Be sure that You have  asked for Runtime Permission from the user in the past to avoid read errors.
- Permissions with "READ_EXTERNAL_STORAGE" and "WRITE_EXTERNAL_STORAGE" is enough for this library to wor

[2019-04-24 06:44] anisart commented on #38
I have crash in Google Play console for version 2.0.4.4
[code]

Archos Core 57S Ultra - Android 8.1.0

[2019-06-27 06:49] AndroMeda2017 opened #107 "android.support.v4.app.FragmentManager;"
ADD android.support.v4.app.FragmentManager;.

2019 Year!

[2019-06-27 06:49] AndroMeda2017 commented on #107
androidX FragmentManager;

[2019-06-28 16:59] codekidX commented on #107
Hi, the `3.0` will be released soon so it'll have full support of the AndroidX FragmentManager. Marked for `3.0` release.

[2019-07-01 15:31] rahulpopuri commented on #104
+1 My users are reporting this issue too

Until this is fixed, should I just be catching the `StringIndexOutOfBoundsException` and retrying?

[2019-07-22 10:14] ankitgupta199 commented on #63
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{***}: java.lang.NullPointerException: Attempt to invoke virtual method 'int[] com.codekidlabs.storagechooser.models.Config.getScheme()' on a null object reference

I am using version 2.0.4.2, and getting this type error on random devices in my crashlytics, but not able to reproduce, so please help to rectify these

[2019-07-22 10:16] ankitgupta199 commented on #81
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{***}: java.lang.NullPointerException: Attempt to invoke virtual method 'int[] com.codekidlabs.storagechooser.models.Config.getScheme()' on a null object reference

I am also getting this error for version 2.0.4.2

[2019-07-25 10:08] ankitgupta199 opened #108 "java.lang.NullPointerException: Attempt to invoke virtual method 'int[] com.codekidlabs.storagechooser.models.Config.getScheme()'"
1- Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{***}: java.lang.NullPointerException: Attempt to invoke virtual method 'int[] com.codekidlabs.storagechooser.models.Config.getScheme()' on a null object reference

2- java.lang.NullPointerException: Attempt to invoke virtual method 'com.codekidlabs.storagechooser.Content com.codekidlabs.storagechooser.models.Con

[2019-07-26 15:43] codekidX commented on #108
1. You are setting theme but you are not setting scheme

2. line numbers are important for this, please paste full log

3. Which file?

4. Full log

5. Which android version this came for? full log

6. I think some user has a storage that is not supported by the statfs (example some chinese OEMs)

[2019-07-27 05:09] ankitgupta199 commented on #108
I am mentioning here full log of my code for setting scheme and theme for 1st question-
1-(a) I tried  to set scheme this way, also mentioning second way below
`StorageChooser.Theme theme = new StorageChooser.Theme(getActivity());
        int[] myScheme = theme.getDefaultScheme();
        // this is overview dialog list color
        myScheme[StorageChooser.Theme.OVERVIEW_HEADER_INDEX] = getActivi

[2019-07-27 12:49] ankitgupta199 commented on #108
Another Logs
2-
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.app/com.example.app.activity.PdfActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'com.codekidlabs.storagechooser.Content com.codekidlabs.storagechooser.models.Config.getContent()' on a null object reference
       at android.app.ActivityThread.performLaunchActi

[2019-07-30 12:45] ankitgupta199 commented on #108
@codekidX I had shared all logs, please check once and tell me about solutions.

[2019-08-02 04:19] codekidX commented on #108
1st things 1st upgrade to `2.0.4.4`. These logs are pretty weird I'll separately test them with your code and let you know.

[2019-08-02 04:45] ankitgupta199 commented on #108
Yes, I can upgrade in 2.0.4.4, but for that I have required to upgrade my all code in androidx, as I tried ,so I am doing that changes and that will take time to upgrade all code, but if possible then please tell me these logs solutions at least for 1 & 2 points, both logs are coming too frequently.

[2019-08-03 10:45] NitishGadangi opened #109 "I wonder is there any way to show the chooser dialog in a full screen view?"
Is there any way so that I display the file picker in a fragment(in a full-screen view) and use it as an embedded file-explorer within my app.
Hope you got my point.

[2019-08-18 15:10] omar753sahl opened #110 "`Invalid path: /storage/Private` in `MemoryUtil.java`"
Crashlytics reports this crash occasionally for some users.

[code]

[2019-08-21 16:25] stdgregwar commented on #71
I'm also interested in this feature ! Seing the folder content while selecting adds to the QoL.

[2019-09-04 16:03] codekidX commented on #96
Hey, sorry I couldn't be of much help in this. I will be discontinuing this feature in 3.0 due to many reasons out of which internal path is way different in Chinese OEMs and you cannot guess it.

Although I saw workaround and I might fix it in a release. Thanks for this.

[2019-09-05 05:35] kia1349 opened #111 "problem when used in fragment"
I encounter this error when i use it in an androidx fragment

'withFragmentManager(android.app.FragmentManager)' in 'com.codekidlabs.storagechooser.StorageChooser.Builder' cannot be applied to '(androidx.fragment.app.FragmentManager)'

![Untitled](https://user-images.githubusercontent.com/10990724/64314514-767db400-cfc4-11e9-81d7-2f84f1eb2433.png)

[2019-09-05 06:31] codekidX commented on #111
Did you follow all the steps written [here](https://github.com/codekidX/storage-chooser#installation)? Especially the last part?

The world of Android is moving towards `androidx` and I wouldn't want this library to support legacy `FragmentManager`. I'd suggest you to [Move to AndroidX](https://developer.android.com/jetpack/androidx/migrate) as well.

[2019-09-05 06:45] kia1349 commented on #105
thanks a lot
i am waiting too

[2019-09-05 08:15] kia1349 commented on #111
Thank you. Yes. I've moved my project to Android X
getSupportFragmentManager() used when you are in activity and want to get a fragment but i am in the fragment
i can use   FragmentManager fragManager = getActivity().getSupportFragmentManager();  in my fragment
but   .withFragmentManager refered to your StorageChooser class  line:219 and it use android.app.FragmentManager as parameter again

[2019-09-05 08:40] kia1349 commented on #111
i solved by this maner in fragment:

        builder.withActivity(getActivity())
                .withFragmentManager(getActivity().getFragmentManager())
                .setMemoryBarHeight(1.5f)
                .withContent(c);

thanks again and i am waiting for new version

[2019-09-05 17:06] ryust opened #112 "Android 10 scoped storage"
What are the long term plans with this library regarding the new Android scoped storage? Apps will have to implement support within a year. I'm trying to decide whether to go back to SAF or continue utilizing the library.

[2019-09-07 07:39] codekidX commented on #109
Hello, I get the idea of using a full-screen view and have a file explorer type vibe to it but the library was not aimed to do that.

The goal of this library has always been how fast can you have a file/directory implemented in your project and get started with your work without worrying about the permissions and/or the structure of the storage.

If I would have chosen the activity way, the `onAc

[2019-09-07 07:42] codekidX commented on #112
I would certainly move towards implementing scoped storage, the `StorageVolume` class can detect OTG and has events too. I would give this a shot. The SAF is almost implemented in 3.0 though.

Have you tried it in your app?

[2019-09-07 07:45] codekidX commented on #110
Yeah, there are more and more directories added by vendors for their private OS-related files, I have almost eliminated all but this seems like a problem now. I'll give new Android 10 `StorageVolume` a try and let you know.

[2019-09-07 07:48] codekidX commented on #111
Oh, ya the `supportFragmentManager` is the `getActivity().getFragmentManager()` in androidx, my bad. Glad that it solved your issue, closing this one.

[2019-09-07 07:48] #111 closed

[2019-09-10 07:14] NitishGadangi commented on #109
Its ok bro...
I got your point.
Anyway, if possible try making a file explorer library with similar UI and theme options that can integrate within the app coz ur design process looks beautiful and intuitive.

[2019-09-16 20:07] innerman commented on #105
I really appreciate your work! Yor library is very useful and works fine on my project. Thanks a lot !
Here are some suggestions for the future:
In FILE_PICKER mode:
- optional show circular progress indicator instead of the linear one
- optional show size and/or date of the files found

[2019-09-17 19:33] yasir-raza opened #113 "External Path Issue"
When i move files from internal path everything works fine but same path from external storage file output stream gives error permission denied or file not found.

[2019-09-30 06:58] alexanderadam commented on #113
@yasir-raza just to be sure: [did you read the README](https://github.com/codekidX/storage-chooser#notes) and checked for the permissions `READ_EXTERNAL_STORAGE` and `WRITE_EXTERNAL_STORAGE`?

This looks like a duplicate from #103 for me.

[2019-11-08 05:52] ankitgupta199 commented on #108
@codekidX- I upgragded library 2.0.4.4, but still getting crashes for above mentioned points, can you suggest me any solution.

[2019-11-09 04:34] codekidX commented on #108
@ankitgupta199 will you be willing to give me a screen recording of how you get this error. It would be helpful to identify on which step you get this crashes _(if you have encountered it yourself)_.

Btw if any of the old users who did not update might be crashes, are you sure the users upgraded your app?

[2019-11-09 12:30] muzzikapp commented on #104
Fixed in my fork branch, basicly what i do is if i got an exception i set the selected folder to default music folder (at least app doesnt crash because of this)

https://github.com/muzzikapp/storage-chooser

[2019-11-09 12:30] muzzikapp commented on #81
Fixed in my fork branch, basicly what i do is if i got an exception i set the selected folder to default music folder (at least app doesnt crash because of this)

https://github.com/muzzikapp/storage-chooser

[2019-11-09 12:31] muzzikapp commented on #108
Fixed in my fork branch, basicly what i do is if i got an exception i set the selected folder to default music folder (at least app doesnt crash because of this)

https://github.com/muzzikapp/storage-chooser

[2019-11-10 08:52] codekidX commented on #108
@muzzikapp thanks for this, I'll handle it in current branch and create a release.

[2019-11-10 08:53] codekidX commented on #104
@muzzikapp thanks for this. Was there any reason why you weren't able to create PR?

[2019-11-10 20:08] muzzikapp commented on #104
@codekidX you are welcome. I didn't create a PR just because my fix is just intended to be used in my app. But if you think it is a good way of handling this error, i can create a PR as well.

[2019-11-12 21:19] lolo-io opened #114 "Strange behavior on API 16"
I just tested the the lib on a phone with API 16 and the Choose Storage dialog looks like this :

![Screenshot_2019-11-12-21-55-32](https://user-images.githubusercontent.com/1267636/68711266-979ceb00-0599-11ea-808c-bfc56af89334.png)

UsbDriveA->F doesn't seem to mean anything on this phone. (Nor extSdCard which we cant see on the screenshot)

Also, when I click any of them, I get "The storage you

[2019-11-16 08:29] codekidX commented on #114
Hello, it is indeed strange, was there any OTG connected before?

Can you create a separate issue for `Content` class string addition? Thanks.

[2019-11-17 14:40] lolo-io commented on #114
It is indeed possible. I can't really know because I got this old phone from someone else.

[2019-11-17 14:43] lolo-io opened #115 "Content class string addition"
The string "The storage you have chosen is not accessible" is not customizable via the `Content` class.

[2019-11-17 18:24] codekidX commented on #114
Alright, I'll see how we could avoid these unusable storage folders, may be by checking their total space or something first before populating the list.

Thanks for the report.

[2019-12-03 05:21] ankitgupta199 commented on #108
@codekidX , I am not getting these crashes on my devices when I test it , but getting crash logs from crashlytics and firebase for others users who is using app, so I can provide you only these logs. Also I have upgraded this library for 2.0.4.4 and as per analytics I can track that 95% users upgraded app, and I am still getting same logs from upgraded users. Is there I need to make any change aga

[2020-01-01 00:28] eyesblue opened #116 "[BUG] Plus button not show while allowAddFolder(true) set in older Android device."
Hi, thanks for your great project, it really simple and easy to use.

I like show a directory chooser and allow user create new directory in my app, I modify and test the example code in Xiao Mi A1(Android 9, API level28), it work well, then I create emulator for Android 4.4(API level 19 with Google APIs) and Android 4.1(API level 16 with Google APIs), it not show the plus button in the older vers

[2020-01-03 11:20] koostamas opened #117 "Android 10 storage not accessible"
I have been using this lib in my app for a few months now, and it has been working perfectly. Recently one of our partners updated their company phones to Android 10 and it broke this lib. When I open the dialog, it shows the storage options, but when I click on Internal Storage I get a toast saying `The storage you have choosen is not accessible.`. The app has storage read permission. I get no lo

[2020-01-03 14:28] koostamas commented on #117
Adding `android:requestLegacyExternalStorage="true"` to the manifest solved my problem, but this is only a temporary fix until Android 11 (R) comes out, because from that version we will be forced to use the new Storage Access Framework.

[2020-01-04 06:44] codekidX commented on #117
@koostamas that is true, thanks for reminding me of this. I wanted to add this as a workaround in README but couldn't because of some work reason, I'll do that now.

As far as SAF is concerned, I have been digging into it for a while to include it in this library. The main ideology behind SAF is to access a file/folder by asking for a `Document` inside `DocumentTree` instead of directly accessing

[2020-01-09 12:34] ulrickpsp commented on #117
Thanks a lot for the library, it's very useful. Please let me know when this new feature is available. ;)

[2020-01-10 04:14] chenjiancan commented on #89
Same Issue, for me the OverView Dialog is not necessary, while primary path to start browse is required.

[2020-01-17 06:22] codekidX commented on #117
The good news is that I found a way for this library to exist after SAF, but will be released in a later version. Thanks guys for the support.

[2020-02-01 09:05] anastr commented on #89
same issue, and calling `.skipOverview(false, Environment.getExternalStorageDirectory().getAbsolutePath())` will not help.
simply we need an option to open `SecondaryChooserFragment` directly while `SkipOverview` is `false` ,it could replace [this condition](https://github.com/codekidX/storage-chooser/blob/master/storagechooser/src/main/java/com/codekidlabs/storagechooser/StorageChooser.java#L93)

[2020-02-25 02:53] Vraha opened #118 "Predefined Path not work?"
Hello, I have tried putting a predefined path when building for the storage chooser to open at my defined path, but it didn't seem to work, or am I doing it wrong? It should be the .withPredefinedPath(STATIC_PATH) method right?

[2020-02-25 02:56] Vraha commented on #118
let's say I would like the storage chooser to open from TEST folder within my internal storage, is it the correct way to do it?

chooser = new StorageChooser.Builder()
                .withActivity(MainActivity.this)
                .withFragmentManager(getFragmentManager())
                .withMemoryBar(true)
                .allowCustomPath(true)
                .allowAddFolder(true)

[2020-03-10 12:00] innerman commented on #118
@Vraha:
.withPredefinedPath did not work for me either. What worked was this:

StorageChooser.Builder builder = new StorageChooser.Builder();
builder.withActivity(MainActivity.this)
                .withFragmentManager(getFragmentManager())
                .withMemoryBar(true)
                .allowCustomPath(true)
                .customFilter(allowedExtensions)
                .disableMultiSelec

[2020-03-10 15:55] Vraha commented on #118
@innerman thanks mate! works like a charm

[2020-03-10 15:55] #118 closed

[2020-03-15 22:12] sfilmak commented on #117
Hello. Any update on this issue? Still not fixed.

[2020-03-20 10:53] Diseno-Desarrollo-Web-App-Cantabria commented on #91
getParentFragmentManager()
.beginTransaction()
.replace(R.id.nav_host_fragment, fragment, fragment.tag)
.commit()

[2020-04-01 06:33] cmd0129 opened #119 "[BUG] java.lang.IndexOutOfBoundsException: Invalid index 1, size is 1"
java.lang.IndexOutOfBoundsException: Invalid index 1, size is 1
        at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
        at java.util.ArrayList.get(ArrayList.java:308)
        at com.codekidlabs.storagechooser.fragments.SecondaryChooserFragment$5$1.run(SecondaryChooserFragment.java:154)

[2020-04-02 05:39] codekidX commented on #119
Hello, this bug should be fixed in 3.0 release. But as far as the release date is concerned, it is still unknown due to the new SAF restriction.

[2020-04-04 16:55] aliaksandr-chaulytka opened #120 "Migration to androidx?"

[2020-04-04 17:36] #120 closed, assigned to codekidX

[2020-04-05 00:56] vidicunt commented on #105
Congratulations on the library! I love it. Thank you

There are a few suggestions I'd like to add:
- The dialog doesn't follow my app theme colors, instead there's a green color used
- Removing android:configchanges requirement from the Manifest - this usually means bad practice of saved states
- Ripple on all the buttons (as per material guidelines)
- There's lots of strictmode activity when open

[2020-06-07 21:14] AdisAlagic commented on #62
You may also want to add `android:requestLegacyExternalStorage="true"` in your manifest file.

[2020-06-07 23:25] #83 closed

[2020-06-07 23:25] #10 closed

[2020-06-07 23:25] #23 closed

[2020-06-07 23:26] #24 closed

[2020-06-07 23:26] #50 closed

[2020-06-07 23:27] #60 closed

[2020-06-07 23:41] #82 closed

[2020-06-08 07:23] pzienowicz commented on #24
Closed because?
It is fixed? I don't see any commit for that.

[2020-06-26 18:46] blackterminator7 opened #121 "Unknown File"
I am currently developing an app to send files via bluetooth With which I am using this library to access my device. When I select a file from internal memory there is no problem the file is sent perfectly, the problem comes when selecting a file from external memory the phone sends me a message from Unknown file
Do I have to make any changes to the route that the library returns?
![Screenshot_202

[2020-06-27 09:19] broteam168 opened #122 "Now Android.app.fragmentmanager is deprecated"
I have use this lib but my program now use support.v4.app lib so i can't convert to.Anyone have any solution.
p/s:i have open source code and add android.support.v4.app replace android.app but spmething go wrong

[2020-06-27 23:27] codekidX commented on #122
Hello @broteam168, I'm aware that it is deprecated and `androidx.fragment.app.FragmentManager` is being supported in the upcoming 3.0 version which is developed in `inline-3.0` branch.

I think it's a really simple migration that can be done to `2.x` version of this library but I'm occupied with `3.0` development and some other projects most of the time. You can submit a PR to master branch if pos

[2020-06-27 23:31] codekidX commented on #121
Hello, this doesn't look like the error of `storage-chooser`, If your `TextView.text` has changed to the path of the file from the external storage that means the path is actually correct because [File#listFiles()](https://docs.oracle.com/javase/7/docs/api/java/io/File.html#listFiles()) is the one that returned you the path of the file.

Please look at the implementation Bluetooth Filestream if it

[2020-06-28 02:21] broteam168 commented on #122
Oh thank for your reply but when i implement in your project it seem to be not found.

[2020-06-29 09:03] #122 closed, assigned to nobody

[2020-07-06 07:44] #121 closed, assigned to nobody

[2020-07-09 19:56] prat-man opened #123 "Create/Save File Feature Request"
I do not think StorageChooser allows to create or save files the same way it allows to create directories.
If there is such a feature and I am mistaken please tell me.

Otherwise, I would request you to consider adding an option to create / save files.
That would make it possible to use StorageChooser for both opening and also saving files.

Thanks!

[2020-07-11 10:23] SouravYadav584 commented on #91
I still don't get how can I use it in a fragment. Can you please tell me in a bit detail. I am using this code in my fragment:
`
StorageChooser chooser = new StorageChooser.Builder()
                    .withActivity()
                    .withFragmentManager(getFragmentManager())
                    .withMemoryBar(true)
                    .build();

chooser.show();

chooser.setOnSelectListener(n

[2020-07-11 10:28] SouravYadav584 commented on #107
I still don't get how can I use it in a fragment. Can you please tell me in a bit detail. I am using this code in my fragment:
`
StorageChooser chooser = new StorageChooser.Builder()
.withActivity()
.withFragmentManager(getFragmentManager())
.withMemoryBar(true)
.build();

chooser.show();

chooser.setOnSelectListener(new StorageChooser.OnSelectListener() {
@override
public void onSelect(String pat

[2020-08-15 08:08] 1stmetro opened #124 "Fatal Exception: java.lang.IndexOutOfBoundsException"
This issue seems to popup from time to time i believe its when you initially choose what drive to use anyone else have this issue or perhaps even a fix?

Fatal Exception: java.lang.IndexOutOfBoundsException
Index: 9, Size: 0

java.util.ArrayList.get (ArrayList.java:437)
com.codekidlabs.storagechooser.fragments.SecondaryChooserFragment$5$1.run (SecondaryChooserFragment.java:155)
android.os.Handler.

[2020-08-16 09:29] vidicunt opened #125 "[BUG] Frequent IlegalStateExceptions"
I'm frequently getting IllegalStateException errors on my Firebase Crashlytics report. I'm not sure if my implementation is faulty or not.

`Fatal Exception: java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
       at android.app.FragmentManagerImpl.checkStateLoss(FragmentManagerImpl.java:1881)
       at android.app.FragmentManagerImpl.enqueueAction(FragmentMan

[2020-08-16 14:43] codekidX commented on #125
This looks like fragment not maintaining state on rotation, though I'm not sure. Did you [check out the notes](https://github.com/codekidX/storage-chooser#notes) and added the configChanges element in manifest file?

[2020-08-16 14:44] codekidX commented on #124
Hello, 3.0 will fix this issue related to the address bar.

[2020-08-16 14:45] codekidX commented on #123
Hello no it is not available, although I would not consider adding this feature right away it might be a good addition for some use cases. Thanks for the suggestion.

[2020-08-16 14:47] codekidX commented on #116
Unfortunately creating directories in external storage requires SAF permission which is not implemented, sorry for not mentioning in the README file that this is not possible.

[2020-08-19 11:01] vidicunt commented on #125
True, I did not add that line to my manifest. Would it be possible to have a version without the configChanges in the future? I believe it's best practice, in my case at least for android to handle the configuration changes.

Thank you!

[2020-08-22 17:52] janosfa0 opened #126 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

I checked. It worked but if the file extension is not one of the predefined (txt,pdf etc.) it shows folder icon instead of a general file icon. It is necessary to put a default file icon in the ThumbnailPipe function in ThumbnailUtil.java. Thanks.

[2020-09-07 19:25] OPunktSchmidt opened #127 "[BUG] Android 11 Crash"
This library seems to crash on Android 11. Is it planned to fix this? I dont get this error on other Android Versions

[code]

[2020-09-29 16:20] ashirmehmood1996 commented on #107
is there going to be a solution for this ??

[2020-09-29 16:21] ashirmehmood1996 commented on #107
its been more than a year what to do this deprecation?? Has Any one sorted out something?

[2020-10-13 10:03] stavBodik commented on #116
yes but where in the code you hide the image view ? It is an UI bug I think , I tryd to add different items up on : new_folder_button_holder and they are not visible ?

[2020-10-13 10:25] stavBodik commented on #116
The real UI bug is that the plus icon is vector drawable and this need to be added in order for it to work

`android {
    compileSdkVersion 29
    defaultConfig {
        vectorDrawables.useSupportLibrary = true
    }`

The SAF permissions is another, other related problem . . .

[2020-10-13 10:40] stavBodik commented on #116
LOL I found it :

`if (DiskUtil.isLollipopAndAbove()) {
            mNewFolderImageView.setImageDrawable(ContextCompat.getDrawable(mContext, R.drawable.drawable_plus_to_close));`

[2020-10-13 11:16] stavBodik commented on #116
@codekidX

Any way you are right, creating new folder is allowed only in this path : context.getExternalFilesDir(null).getAbsolutePath()

/emulated/0/Android/data/

Even if we add the API 10 request for : android:requestLegacyExternalStorage="true"

[2020-10-30 08:49] xiyurain commented on #127
Same problem : (

[2020-11-11 13:03] EbrahimElsify commented on #119
when will closed

[2020-11-12 22:37] oluwabajio commented on #127
Same Problem Kindly fix

[2020-11-13 04:33] nikeshkumarbedia commented on #127
Same problem with android 11. Kindly update on this.

[2020-11-13 16:53] 1stmetro opened #128 "Select. directory allow view files"
I have looked at the code and can get the select directory to show the files but is there a quick way to stop the clicking of files when you are in select directory mode?

Unless of course you have already coded this feature in a new build ?

Really want to show the files in each folder but not allow the clicking of the files as its is a select directory only.

Many thanks.

[2020-11-22 03:28] mveroukis commented on #127
+1. My app also crashes with the exact same exception on Android 11. It's possible that the bug is in Android 11, I feel it's a bit of a buggy release, but still, it would be nice to have a work around or something. Thanks.

[2020-12-05 16:12] vedraj360 commented on #77
Pretty late but will help future readers. ✌

using skipOverview(true) you can hide sdcard

 val chooser = StorageChooser.Builder()
                    .skipOverview(true)
                    .build()

[2020-12-06 10:26] NoelChew commented on #127
+1

[2020-12-07 15:19] mveroukis commented on #127
Looks like someone has a potential fix: https://github.com/sfilmak/storage-chooser/commit/c43a6b534855da6b2e87fa0f25d0c67d40c84fbf

[2020-12-08 20:37] OPunktSchmidt commented on #127
Has anyone found an alternative for this library? I don't think the bug will be fixed in the near future.

[2020-12-09 16:10] mveroukis commented on #127
No need for an alternative. Someone else (sfilmak) fixed it. I forked his fork, tagged it and created a release for it. Since the original library uses jitpack, it's really easy to switch over to use your own fork of it. I just changed out:
`com.github.codekidX:storage-chooser:2.0.4.4`

and replaced it with:
`com.github.mveroukis:storage-chooser:2.0.4.4a`

The "a" at the end is my own tag, otherwi

[2020-12-11 05:40] NoelChew commented on #127
Good idea @mveroukis
The commit https://github.com/sfilmak/storage-chooser/commit/c43a6b534855da6b2e87fa0f25d0c67d40c84fbf contains other changes that broke my build.
I have forked and uploaded a commit with the only change that fixes the crash on Android 11 devices.
Here's the my version:

https://github.com/NoelChew/storage-chooser/commit/f0ffc9ce5df35c9597eebc3b819093b74136e082

[code]

[2021-01-22 20:40] 1stmetro commented on #127
Nice work the new code resolves the NULL error but i'm unable to see what files are in the directory selected all i can get access to is the directory names, even use the file picker i cannot see filenames.

Any updates ?

[2021-01-23 16:37] 1stmetro commented on #127
I did manage to get the original code working with the external drive, a bit of a hack but its working ok for me.

I did step back for API 28 as there wasn't much point going to 29 or 30 due to scoped storage and this version of the app isnt going on google play so the api version doesnt matter.

If anyone is interested i can post the hack and maybe someone will improve upon it, it was a quick mod

[2021-01-24 00:46] codekidX commented on #98
Great work @KYHSGeekCode. Good that you made it .. I removed support from 3.0.

[2021-01-24 00:46] #98 closed

[2021-02-04 07:46] RAJAGOVINDAHARAJ opened #129 "How i am using storage-chooser:2.0.4.4 if connect usb drive directly i will work but connect via hub its not deduct"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2021-02-18 19:38] aroaddy opened #130 "[BUG]"

[2021-02-18 20:10] #130 closed, assigned to codekidX

[2021-03-05 20:26] mwarning opened #132 "Feature Request: select directory or file"
Currently I have to choose between a file or directory picker. But I need to offer the user to select anything.

This is needed for a Export/import dialog where I only have a single storage picker button. The user can select a file that is going to be imported, or a directory to export a file to (the file does not exists, since it will be created).

(Feel free to close this issue.)

[2021-03-05 20:27] mwarning commented on #132
hm, not idea how to remove the bug label...

[2021-03-09 07:49] omkar-tenkale opened #133 "[BUG] Crash on launchng dialog on Android 11"
**Describe the bug**
App crashes when picker  is launched with following code

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
It should show picker dialog as usual

**Smartphone (please complete the following information):**
 - OS: Android 11

**Additional context**
Stack Trace
[code]

[2021-03-09 07:52] omkar-tenkale commented on #133
Same as #127

Closing this one

[2021-03-09 07:52] #133 closed, assigned to codekidX

[2021-04-19 16:37] Shabinder commented on #127
**Updated Dependencies, Optimised and compressed Resources and New Publishing Plugin**

`implementation("com.github.shabinder:storage-chooser:2.0.4.45")`

[2021-08-09 20:46] TehreemMasooman commented on #108
Any Body Solve this Issu Please Share it

[2021-09-16 13:58] #125 closed, assigned to codekidX

[2021-09-20 06:47] mendhak opened #134 "[BUG] SD Card not appearing in overview dialog on Android 11"
**Describe the bug**
When using the [patched version of the library here](https://github.com/codekidX/storage-chooser/issues/127), I've noticed that the storage choosing dialog doesn't show the SD card, it will just show the Internal Storage.

I've even given the app the  `MANAGE_EXTERNAL_STORAGE` permission.
It works fine on Android 29, the SD card appears.

Has anyone found a way around this, or

[2021-09-20 07:36] mendhak commented on #134
From what I can tell, this line

https://github.com/codekidX/storage-chooser/blob/9bc33ebeabf35d57681137f13eb3c0ab0f96ac81/storagechooser/src/main/java/com/codekidlabs/storagechooser/fragments/ChooserDialogFragment.java#L249

only gets the `/storage/emulated/...` path in Android 11+, but it also gets the SD card path in Android 10 and lower. I just don't know why.

[2021-09-20 21:50] mendhak commented on #134
I've got this working in my fork of this repo, so the SD card appears on Android 11+ now.
Added in some additional fixes too:

* Generic file icon for unknown file types
* Use folder icon only for folders
* Detect SD Card on Android 11
* Fix for crash on Android 11

If anyone wants to use it as well,

[code]

I'm checking for the SD card by [parsing the getExternalFilesDirs output](https://github.

[2021-09-20 21:56] mendhak commented on #127
FWIW I've also got a [fork of this repo](https://github.com/mendhak/storage-chooser), with some additional fixes and changes

* Added a generic file icon for unknown file types
* Use folder icon only for folders (the library was using a folder icon for unknown file types)
* Show SD Card on Android 11 ( [bug](https://github.com/codekidX/storage-chooser/issues/134) - Android 11 has restrictions on `

[2022-02-06 19:53] kollabz commented on #127
Hi. @mendhak , i use your 'com.github.mendhak:storage-chooser:2.0.4.4b' and it's work good for open 'ChooserDialogFragment'.
But if i use 'customFilter' or 'filter' in chooser builder, I have error at 'UniversalFileFilter.java' and 'SecondaryChooserFragment.java'.

code:

        Content c = new Content();
        c.setInternalStorageText(getString(R.string.DIALOG_STORAGE_TEXT));
        c.setCanc

[2022-02-06 21:25] mendhak commented on #127
@kollabz  this looks Android 11 related as well.  `dir.listFiles()` was returning null so [this code block](https://github.com/codekidX/storage-chooser/blob/master/storagechooser/src/main/java/com/codekidlabs/storagechooser/filters/UniversalFileFilter.java#L97-L112) was throwing an exception.

I've [added a check for length](https://github.com/mendhak/storage-chooser/commit/1715784d341f60bc75d44b7

[2022-02-07 19:24] kollabz commented on #127
@mendhak, i have no error with 'customFilter' or 'filter' in chooser builder, but i don't see any files in the selected directory. It's empy. (
Maybe something wrong with adapter?  Can you help me with it please?

i try it on 'Android 11, Api30, Pixel 2(or3) ' in emulator and 'Android 11, Knox Api33, One UI3.1' in device.
on 'Android 9, Api28 ' in device it work good

[2022-02-07 20:46] mendhak commented on #127
@kollabz two things I can think of.  First is obviously you'll want to make sure there are some files that match the filter, obviously.  Second is you'll need to make sure your app has permissions, [see here](https://stackoverflow.com/questions/68032841/folder-listfiles-is-returning-null-in-android-11). One thing I noticed, despite permissions, I couldn't filter anything under `/emulated/0/Android

[2022-03-23 16:40] rom-bek opened #148 "Bug on device "Xiaomi Mi 11 lite""
Hi Ashish,

I appreciate your library! Thank you for this.
But it seems to be a bug on device mentioned above. I debugged my files and saw that in ChooserDialogFragment.java

    private void populateList() {
        storagesList = new ArrayList<>();

        File storageDir = new File("/storage");
        String internalStoragePath = Environment.getExternalStorageDirectory().getAbsolutePath();

[2022-03-24 08:12] SupranJowti opened #149 "[BUG] Can not add a file/directory in the sd card"
"Error occured while creating folder. Try again."

I am getting this message while trying to create a new directory on the SD card.
The problem only arises with the removable SD card.
Please Note: It is possible to create a directory in the Device's main storage.

[2022-03-24 13:05] xxmbaobao opened #150 "When will version 3.0 be released in maven？"
The latest version is com.github.codekidX:storage-chooser:2.0.4.4 ， but not support andoirdx.

[2022-03-25 06:50] SupranJowti commented on #149
I think it is not possible to use mkdirs anymore.
I am shifting to ACTION_OPEN_DOCUMENT_TREE

[2022-03-25 06:50] #149 closed, assigned to codekidX

[2022-03-28 12:51] rom-bek commented on #148
Bug already fixed by #127

[2022-03-28 12:51] #148 closed, assigned to nobody

[2022-04-18 00:54] kishorpise opened #151 "External Storage is not visible on certain devices [BUG]"
I have an android physical device, API 22. For the same device, I am using an emulator and my code works as shown below.

![image](https://user-images.githubusercontent.com/48448047/163738717-d7b7aa51-4fee-4833-8732-51471e71f157.png)

but on the physical device, I can not see the SD card.

![image](https://user-images.githubusercontent.com/48448047/163738847-6a916543-7da0-4a7a-8cc2-8354007f573e.pn

[2022-08-18 05:49] shashankneosoft opened #152 "PDF's Files Not Visible On Android 11+ [BUG]"
**Describe the bug**
pdf files are not visible in android 11+